{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="rating-container">
    <h1>Rate {{ movie.title }}</h1>
    <form action="{% url 'rate-movie' movie.title movie.id %}" method="post">
        {% csrf_token %}
        <div class="star-rating">
            <input type="radio" name="rating" id="star5" value="5">
            <label for="star5" class="star">&#9733;</label>
            <input type="radio" name="rating" id="star4" value="4">
            <label for="star4" class="star">&#9733;</label>
            <input type="radio" name="rating" id="star3" value="3">
            <label for="star3" class="star">&#9733;</label>
            <input type="radio" name="rating" id="star2" value="2">
            <label for="star2" class="star">&#9733;</label>
            <input type="radio" name="rating" id="star1" value="1">
            <label for="star1" class="star">&#9733;</label>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="rate-button">Submit Rating</button>
        </div>
    </form>
</div>
{% endblock %}